{% extends 'base.html' %}
{% load static %}
{% block konten %}


<div class="list-group">
<label class="list-group-item d-flex gap-3">
    <input class="form-check-input flex-shrink-0" type="checkbox" value="" checked="" style="font-size: 1.375em;">
    <span class="pt-1 form-checked-content">
    <strong>Paket Besar</strong>
    <!-- <small class="d-block text-muted">
        <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#calendar-event"></use></svg>
        1:00–2:00pm
    </small> -->
    </span>
</label>
<label class="list-group-item d-flex gap-3">
    <input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.375em;">
    <span class="pt-1 form-checked-content">
    <strong>Paket Hemat</strong>
    <!-- <small class="d-block text-muted">
        <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#calendar-event"></use></svg>
        2:00–2:30pm
    </small> -->
    </span>
</label>
<label class="list-group-item d-flex gap-3">
    <input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.375em;">
    <span class="pt-1 form-checked-content">
    <strong>Paket Kenyang</strong>
    <!-- <small class="d-block text-muted">
        <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#alarm"></use></svg>
        Tomorrow
    </small> -->
    </span>
</label>
<!-- <label class="list-group-item d-flex gap-3 bg-light">
    <input class="form-check-input form-check-input-placeholder bg-light flex-shrink-0" disabled="" type="checkbox" value="" style="font-size: 1.375em;">
    <span class="pt-1 form-checked-content">
    <span contenteditable="true" class="w-100">Add new task...</span>
    <small class="d-block text-muted">
        <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#list-check"></use></svg>
        Choose list...
    </small>
    </span>
</label> -->
<p></p>
<p></p>
<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button">Check Out</button>
  </div>
</div>

{% endblock %}