{% extends 'base.html' %}
{% block konten %}

<div class="card-group">
<div class="card">
    <img src="{{url_for('static',filename='img/c1.jpg')}}" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">Hijab Voal X Dwihanda</h5>
    <p class="card-text">Hijab dengan bahan voal premium menjadikan hijab mudal dibentuk dan tidak muduh kusut</p>
    </div>
</div>
<div class="card">
    <img src="{{url_for('static',filename='img/c2.jpg')}}" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">Dress Minimalis X Dena Haura</h5>
    <p class="card-text">Dress yang bisa digunakan untuk harian di rumah maupun keluar rumah</p>
    </div>
</div>
<div class="card">
    <img src="{{url_for('static',filename='img/c3.jpg')}}" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">One Set Star X Kartika Putri</h5>
    <p class="card-text">One set dress dan juga hijab yang didesain sederhana dan elegan mempunyai warna cantik</p>
    </div>
</div>
</div>
{% endblock %}
