{% extends 'base.html' %}
{% load static %}
{% block konten %}

<section id="isi">
<!-- Carousel wrapper -->
<div class="container-fluid">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/kfc0.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Selamat Datang di KFC Super Bola</h5>
          <p>KFC Super Bola mempunyai banyak promo untuk kalian</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/kfc2.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>KFC Super Bola</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/kfc3.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>KFC SUPER BOLA</h5>
          <p>Banyak diskon yang bisa kalian ambil disini, kesempatan ini hanya datang lima sekali loh.</p>
          <p>Banyak diskon, Banyak Kesenangan.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- Carousel wrapper -->

<!-- placeholder -->
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <div class="card" style="width: 25rem;">
        <img src="{% static 'img/kfc8.jpeg' %}" class="card-img-top">
          <div class="card-body mb-3">
            <h5 class="card-title">Jamur Crispy</h5>
            <p class="card-text">Salah satu menu yang paling diminati dari para costumer karena bisa buat untuk cemilan.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 25rem;">
        <img src="{% static 'img/kfc6.jpeg' %}" class="car d-img-top">
          <div class="card-body mb-3">
            <h5 class="card-title">Ayam Crispy</h5>
            <p class="card-text">Menu Terfavorit ketika beli di KFC</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 25rem;">
        <img src="{% static 'img/kfc7.jpeg' %}" class="car d-img-top">
          <div class="card-body mb-3">
            <h5 class="card-title">Kentucky Fried Chicken</h5>
            <p class="card-text">Best Seller di KFC.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
    </div>
  </div>
</div>


<!-- placeholder -->

</section>
{% endblock %}
