{% extends 'base.html' %}
{% load static %}
{% block konten %}
<head>
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" /> 
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>


        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
        <div id="page-inner" >
           <center><h1> Daftar Menu Makanan </h1></center>
           {% for message in messages %}
                {% if message %}
                    <div class="alert alert-success"> {{message}}</div>
                {% endif %}
            {% endfor %} 

            <table border="" class="table table-bordered">
                <tr> 
                    <td>Kode Barang </td>
                    <td>Nama </td>
                    <td>Stok </td>
                    <td>Harga </td>
                    <td>Link Gambar </td>
                    <td>Jenis </td>
                    <td>Aksi</td>
                </tr>
                {% for Barang in barangs %}
                <tr>
                    <td><a href ="{% url 'ubah_brg' Barang.id%}">{{ Barang.kodebrg }}</a></td>
                    <td>{{ Barang.nama }}</td>
                    <td>{{ Barang.stok }}</td>
                    <td>{{ Barang.harga }}</td>
                    <td>{{ Barang.link_gbr }}</td>
                    <td>{{ Barang.jenis_id.nama}}</td>
                    <td><button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#hapus-{{ Barang.id }}">Hapus</button></td>
                </tr>
                <!-- Modal-->>
                <div class="modal fade" id="hapus-{{ Barang.id }}" tabindex="-1" arial-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Yakin akan dihapus ?</h1>
                        <button type="button" class="btn close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Nama barang : {{ Barang.nama }}
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn-btn-secondary" data-bs-dismiss="modal">Batal</button>
                        <a href="{% url 'hapus_brg' Barang.id %}" class="btn btn-danger">Yakin</a>
                        </div>
                    </div>
                    </div>
                </div>

                {% endfor %}
            </table>  
            <li class="nav-item">
                <a class="{% if navbar == 'tambah_barang' %} active {% endif %}"href="/tambah_barang" class="btn btn-primary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">Tambah Makanan</a>
              </li>  
    {% endblock %}
   
</body>
