{% extends 'base.html' %}
{% block konten %}

<section id="form">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% for message in messages %}
                {% if message %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endif %}
            {% endfor %}
            <form action="{% url 'ubah_brg' barangs.id %}" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-success">
                    Simpan
                </button>
                <a href="/Vbrg" class="btn btn-danger">Kembali</a>
            </form>
        </div>
    </div>
</div>
</section>

{% endblock %}